/*ellipses*/

.ellipse1{
    position: absolute;
    width: 13.21vw;
    height: 23.49vh;
    left: -9.38vw;
    top: 38.28vh;

    
    background: rgba(77, 220, 255, 0.5);
    border-radius: 50%;
}

.ellipse2{
    position: absolute;
    width: 20.82vw;
    height: 36.97vh;
    left: -13.18vw;
    top: 31.56vh;

    background: rgba(77, 220, 255, 0.5);
    opacity: 0.45;
    border-radius: 50%;
}

.ellipse3{
    position: absolute;
    width: 28.59vw;
    height: 50.83vh;
    left: -17.03vw;
    top: 24.63vh;

    background: rgba(77, 220, 255, 0.5);
    opacity: 0.15;
    border-radius: 50%;
}

.ellipse4{
    position: absolute;
    width: 37.46vw;
    height: 65.81vh;
    left: -21.18vw;
    top: 16.3vh;

    background: #4DDCFF;
    opacity: 0.15;
    filter: blur(2.08vw);
    border-radius: 50%;
}