@mixin calc($property, $expression) {
    #{$property}: -moz-calc(#{$expression});
    #{$property}: -webkit-calc(#{$expression});
    #{$property}: calc(#{$expression});
}

@mixin font ($minfsi, $maxfsi, $minflh, $maxflh, $fw , $fc) {
    @include calc(font-size, '#{$minfsi}px + (#{$maxfsi} - #{$minfsi}) * (100vw / 1920)');
    @include calc(line-height, '#{$minflh}px + (#{$maxflh} - #{$minflh}) * (100vh / 1080)');
    font-weight: $fw;
    color: $fc;
}

@mixin WiHi ($w, $h) {
    width: $w;
    height: $h;
}

.title {position: relative;
    padding-top: 2.78vh;
    padding-left: 44%;
    @include font(12, 36, 12, 36, 600, white);
}
