.main {
    width: 100vw;
    height: 100vh;
    font-family: 'Gilroy';
    font-style: normal;
    font-size: 0.83vw;
    line-height: 1.11vh;
    font-weight: normal;
    color: white;
    background: linear-gradient( rgba(0, 0, 0, 0.73), rgba(0, 0, 0, 0.73) ), url('../../styles/img/main-bg.jpg');
}