@import "_reset";
@import "_font";

/*Correction of geometry*/
html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}
/*Correction of geometry*/

@mixin calc($property, $expression) {
    #{$property}: -moz-calc(#{$expression});
    #{$property}: -webkit-calc(#{$expression});
    #{$property}: calc(#{$expression});
}

@mixin font ($minfsi, $maxfsi, $minflh, $maxflh, $fw , $fc) {
    @include calc(font-size, '#{$minfsi}px + (#{$maxfsi} - #{$minfsi}) * (100vw / 1920)');
    @include calc(line-height, '#{$minflh}px + (#{$maxflh} - #{$minflh}) * (100vh / 1080)');
    font-weight: $fw;
    color: $fc;
}

@mixin WiHi ($w, $h) {
    width: $w;
    height: $h;
}

body {
    font-family: 'Gilroy';
    font-style: normal;
    font-size: 0.83vw;
    line-height: 1.11vh;
    font-weight: normal;
    color: white;

    width: 100vw;
    height: 100vh;
    background: linear-gradient( rgba(0, 0, 0, 0.73), rgba(0, 0, 0, 0.73) ), url('../img/main-bg.jpg');
}

.title {position: relative;
    padding-top: 2.78vh;
    padding-left: 44%;
    @include font(12, 36, 12, 36, 600, white);
}

// side menu start

.sideMenu__Container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include WiHi(171px, 330px);
    top: 18.06vh;
    left: 5.63vw;
}

.sideMenu__Element {
    @include WiHi(100%, 60px);
    display: inline-flex;

    &__Ico {
        @include WiHi(60px, 60px);
        background: rgb(255, 255, 255);
        padding-top: 10%;
        padding-left: 10%;
        border-radius: 15%;
        transition: 0.5s;
        &:hover {
            background: rgba(97, 93, 250, 1);
            transition: 0.5s;
        }
    }

    &__Label {
        margin-top: 11%;
        margin-left: 10%;
        @include font(10, 18, 15, 21, 500, rgba(255, 255, 255, 0.5));
    }
}

// side menu end

// weaponlist start

.weaponList__Container {
    position: absolute;

    display: grid;
    grid-template-columns: repeat(auto-fill, 48%);
    grid-column-gap: 4%;
    grid-row-gap: 6%;

    margin-top: 5%;
    margin-left: 22%;
    
    width: 55%;
    height: 70%;
    @media screen and (max-width: 1600px) {
        width: 65%;
    }
    @media screen and (max-width: 1040px) {
        width: 70%;
        margin-left: 25%;
    }
}



.weaponList__Card {
    background: rgba(255, 255, 255, 0.1);
    padding-left: 7%;
    padding-top: 7%;

    &__Label {
        @include font(8, 14, 10, 16, 500, rgba(255, 255, 255, 0.5));
    }

    &__WeaponType {
        @include font(24, 36, 32, 44, bold, rgba(255, 255, 255, 1));
        margin-bottom: 2%; 
    }

    &__Desc {
        @include font(10, 12, 12, 14, normal, rgba(255, 255, 255, 0.5));
        width: 50%;
    }

    &__Ico {
        position: relative;
        left: 60%;
        bottom: 40%;
    }
}



// weaponlist end









