@import "_reset";
@import "_fonts";

html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

@mixin font ($fsi, $flh, $fw , $fc) {
    font-size: $fsi;
    line-height: $flh;
    font-weight: $fw;
    color: $fc;
}

@mixin WiHi ($w, $h) {
    width: $w;
    height: $h;
}



body {
    font-family: 'Gilroy';
    font-style: normal;
    color: white;
}

.App {
    @include WiHi(100vw, 100vh);
    background: linear-gradient( rgba(0, 0, 0, 0.73), rgba(0, 0, 0, 0.73) ), url('../css/img/main-bg.jpg');
}


.intro {
    position: absolute;
    @include WiHi(308px, 400px);
    left: 100px;
    top: 86px;
    &__title {
        @include WiHi(307px, 172px);
        @include font(72px, 86px, 600, white);
        margin-bottom: 30px;
    }
    &__subtitle {
        @include WiHi(409px, 112px);
        @include font(24px, 28px, 500,rgba(255, 255, 255, 0.5));
    }
}

.joblistContainer {
    background: green;
    position: absolute;
    @include WiHi(1102px / 1920px * 100% , 1px );
}